table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.table-section {
    margin-top: 30px;
}

th {
    background: #667eea;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    overflow-wrap: break-word;
}

tr:hover {
    background: #f5f7ff;
}

.redirect-link {
    color: #000;
    max-width: 250px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}