PORT = 
MONGODB_URI = 
JWT_SECRET = 
JWT_EXPIRES = 
NODE_ENV = development for localhost or production for hosting
BASE_URL=http://localhost:your_port_number
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=y
REDIS_URI = your_redis_uri
EMAIL_USER = 
EMAIL_PASS = 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=