PORT = your_port_number

MONGODB_URI = your_mongodb_uri

JWT_SECRET = your_jwt_secret_key

JWT_EXPIRES = 

NODE_ENV = development for localhost or production for hosting

BASE_URL=http://localhost:your_port_number

TURNSTILE_SITE_KEY=your_cloudfare_site_key

TURNSTILE_SECRET_KEY=your_cloudfare_secret_key