<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/pages/auth.css" />
    
    <title>Forgot Password</title>
  </head>

  <body>
    <div class="auth-container auth-box">
      <h1 class="auth-title">Forgot Password</h1>

      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>

      <% if (message) { %>
      <p class="auth-message"><%= message %></p>
      <% } %>

      <form action="/user/forgot-password" method="POST">
        <div class="form-group">
          <label> Email </label>
          <input type="email" name="email" placeholder="Enter your email" required />
        </div>
        <button type="submit" class="auth-btn">Send OTP</button>
      </form>

      <div class="back-to-login">
        <a href="/login"> Back to Login </a>
      </div>
    </div>
  </body>
</html>
