<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div class="logo-container">
        <img src="/images/LinkForge.png" alt="LinkForge Logo" class="logo">
    </div>

    <div class="container">

    <h1>Login</h1>

    <% if (error) { %>
    <p class="error"><%= error %></p>
<% } %>

    <form action="/user/login" method="POST">

        <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" required>
        </div>

        <div class="form-group">
        <label>Password</label>
        <div class="password-wrapper">
        <input type="password" id="password" name="password" required >
        <button type="button" onclick="togglePassword('password', this)">Show</button>
        </div>
        </div>
        
        <button type="submit">Login</button>

    </form>

    <div class="auth-footer">
    <button type="button" onclick="window.location.href='/signup'" class="signup-btn">
        Create Account
    </button>
</div>

</div>

</body>
</html>