<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="module" src="/js/main.js" defer></script>
    <title>Reset Password</title>
  </head>

  <body>
    <div class="container auth-box">
      <h1 class="auth-title">Reset Password</h1>

      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>

      <form action="/user/reset-password" method="POST">
        <input type="hidden" name="email" value="<%= old.email %>" />
        <div class="form-group">

          <label> New Password </label>
          <div class="password-wrapper">
            <input type="password" id="resetPassword" name="password" placeholder="Enter new password" autocomplete="new-password" required />
            <button type="button" id="toggleResetPassword">Show</button>
          </div>

          <label> Confirm New Password </label>
          <div class="password-wrapper">
            <input type="password" id="confirmResetPassword" name="confirmPassword" placeholder="Confirm new password" autocomplete="new-password" required />
            <button type="button" id="toggleConfirmResetPassword">Show</button>
          </div>

        </div>
        <button type="submit" class="auth-btn">Reset Password</button>
      </form>

      
      <div class="back-to-login">
        <a href="/login"> Back to Login </a>
      </div>
    </div>
  </body>
</html>
